@import "tailwindcss";
@plugin "daisyui";


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root{
  height: 100%;
  width: 100%;
}

#root{
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1fr 10fr 1fr;
}